/*config padrão pagina  */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Para isso */
body {
  background-color: rgb(4, 10, 26);
  color: white;
}

/* estrutura grid Pai */
.container{
    max-width: 100vw;
    height: 100vh;
    row-gap: 0px;
    column-gap: 10px;
    border: 1px solid red;
    display: grid;
    grid-template-columns: 290px 880px 350px;
    grid-template-areas: 
    'navegacao principal principal'
    'navegacao principal principal'
    ;
}

nav{ grid-area: navegacao;}
main{ grid-area: principal;}
.card{ grid-area: card;}



